.h1 {
  font-size: 2.2rem;
  font-weight: 800;
  position: relative;
}

.filterSearch {
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin: 20px 0;
  flex-wrap: wrap;
}

.dropdown {
  display: flex;
  align-items: end;
  flex-wrap: wrap;
}

.dropdown > p {
  padding-left: 15px;
}

.filterContainer {
  display: block;
  margin-left: 25px;
}

.filterSubTitle {
  font-size: small;
}

.selectMenu {
  width: 150px;
}

.noLeagueMessage {
  text-align: center;
  margin-top: 200px;
  font-size: 2rem;
}

.tableRow {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.tableData {
  padding: 12px 0;
}

.separator {
  border-bottom: 1px solid #c8cbd0;
  margin-bottom: 3px;
  margin-top: 3px;
}
