.logo {
  scale: 1.75;
}

.logo-text {
  font-size: 20px;
  padding-left: 25px;
}

.logo-con {
  display: flex;
  align-items: center;
  text-align: center;
  height: 80px;
  margin-left: 50px;
}

.notification {
  scale: 1.5;
  margin-left: 35px;
  margin-right: 35px;
}

.avatarText {
  flex: 1; /* Take up remaining space */
  text-overflow: ellipsis;
  margin-left: 5px;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflowing text */
}

.avatar {
  scale: 1.5;
  width: 30px;
  height: 30px;
  margin-right: 5px; /* Adjust margin */
  margin-left: 5px;
  border-radius: 50%; /* Circular avatar */
  border: 1px solid #c8cbd0;
}
.avatar > img {
  border-radius: 50%; /* Circular avatar */
}

.avatarCard {
  display: flex;
  align-items: center; /* Center items vertically */
  width: 175px;
  height: 55px;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #c8cbd0;
}

.avatarCard > img {
  scale: 1.5;
  width: 30px;
  height: 30px;
  margin-right: 5px; /* Adjust margin */
  margin-left: 5px;
  border-radius: 50%; /* Circular avatar */
  border: 1px solid black;
}

.input {
  outline: none;
}

.search-alert-con {
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  height: 80px;
  top: 0;
  right: 0;
  margin-right: 50px;
}

.top-nav {
  display: flex;
  position: fixed;
  width: 100%;
  background-color: #fff;
  height: 80px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0.1, 0.1);
  z-index: 6;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container button {
  margin-right: 20px;
  margin-bottom: 1px;
  background-color: lavender;
  padding: 5px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-container button:last-child {
  margin-bottom: 0;
}

.language {
  margin-left: 30px;
}
