# Node.js
node_modules

# macOS
.DS_Store

# Environment variables
# .env

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Webpack
# dist

# Environment variables
.env

# Jest
coverage

# Build binaries not needed
dist/*

terraform/.terraform/*
terraform/.terraform.lock.hcl
terraform/terraform.tfstate.backup
terraform/terraform.tfstate