# Node.js
node_modules

# macOS
.DS_Store

# Environment variables
.env

# Jest
coverage

# Build binaries not needed
client/dist/*

# Terraform related files
terraform/.terraform/*
terraform/.terraform.lock.hcl
terraform/.terraform.tfstate.*
terraform/terraform.tfstate.backup
terraform/terraform.tfstate