.tableContainer {
  width: 100%;
  overflow-y: auto;
  max-height: 490px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.header {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  text-align: left;
  position: sticky;
  top: 0;
  background-color: #ffffff;
}

.tableBody {
  width: 100%;
}
