.page {
  background-color: #fff;
  width: 100%;
  margin-right: 35px;
  border-radius: 6px;
  height: 100%;
  margin-bottom: 35px;
  position: fixed;
  padding: 30px;
  overflow: hidden;
}

.filterSearch {
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin: 20px 0;
  flex-wrap: wrap;
}

.filterSearch > button {
  margin-right: 50px;
}

.dropdown {
  display: flex;
  align-items: end;
  flex-wrap: wrap;
}

.dropdown > p {
  padding-left: 15px;
}

.h1 {
  font-size: 35px;
  font-weight: 800;
  position: relative;
}

.groupLabel {
  font-weight: 600;
  padding: 0 16px;
  font-size: 0.8rem;
  line-height: 25px;
  color: black;
}

.filterContainer {
  display: block;
  margin-left: 25px;
}

.filterSubTitle {
  font-size: small;
}

.noLeagueMessage {
  text-align: center;
  margin-top: 200px;
  font-size: 2rem;
}

.tableRow {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.tableData {
  padding: 12px 0;
}
