/* SideNav.module.css */

/* Style for the side navigation bar */
.sidenav {
  font-family: "Poppins";
  font-weight: 500;
  height: 100vh;
  width: 200px;
  /* margin-top: 80px; */
  position: fixed;
  background-color: #fff;
  left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  /* z-index: 1; */
}

.logo-text {
  font-size: 20px;
  padding-left: 15px;
}

.logo-con {
  display: flex;
  align-items: center;
  text-align: center;
  height: 80px;
  justify-content: center;
}
