.requiredText,
.textElementTypeText {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 12px;
}

.textElementTypeText {
  font-style: normal;
  line-height: 24px;
  color: #aaaaaa;
}

.question {
  margin-left: -5px;
  margin-right: -5px;
  padding-left: 5px;
  padding-right: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  width: 65%;
  margin-bottom: 8px;
}

.extraOptions {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 25px;
  padding: 10px;
  right: 0;
}

.requiredText {
  line-height: 2;
}

.containerSmall.extraOptions {
  flex-direction: column;
  position: static;
  padding: 0;
}

.payment {
  display: flex;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
}

.paymentText {
  margin-top: 10px;
  height: 40px;
  padding: 10px 10px 10px 0;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paymentInputGroup {
  margin-top: 10px;
  display: flex;
  width: 130px;
  height: 40px;
  align-items: center;
  padding: 10px;
  border: 1px solid #dfe5ee;
  border-radius: 10px;
  background-color: #f4f4f4;
}

.currencySymbol {
  padding: 0 10px;
  font-size: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #8d8d8d;
}

.paymentInput {
  flex: 1;
  border: none !important;
  outline: none !important;
  padding: 0;
  color: #000000;
  background-color: transparent;
}

.currency {
  margin-top: 10px;
  height: 40px;
  padding: 10px;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.draggableContainer {
  padding: 16px;
  margin: 0 0 8px 0;
  background-color: #ffffff;
  border: 1px solid #dfe5ee;
  border-radius: 10px;
}
