.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  min-height: 100vh;
  background-color: #ffffff;
  padding: 24px 32px 0;
  position: relative;
  overflow: hidden;
}

.circle {
  position: absolute;
  z-index: 0;
  background: linear-gradient(to top, #830aaf, #4238d5);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  opacity: 0.4;
  filter: blur(0.2rem);
}

.circle:first-child {
  top: -50px;
  right: -50px;
}

.circle:nth-child(2) {
  width: 250px;
  height: 250px;
  top: 75%;
  left: -75px;
}

.heroContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  z-index: 1;
}

.heroContainer > h1 {
  background: linear-gradient(to top, #830aaf, #4238d5);
  background-clip: padding-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  font-weight: 500;
}

.logo {
  min-height: 140px;
  min-width: 140px;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 35vh;
  background-color: #ffffff;
  border-radius: 7px;
  padding: 24px 18px;
}

.loginSubheading {
  font-size: 1.1rem;
  text-align: center;
  color: #667085;
  margin-bottom: 8px;
}

.btn {
  display: block;
  max-width: 500px;
  width: 100%;
  margin-bottom: 16px;
  padding: 10px 0;
  border-radius: 30px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  background: linear-gradient(to top, #830aaf, #4238d5);
}

.signUpBtn {
  color: #4238d5;
  font-size: 0.925rem;
  font-weight: 600;
}

.loginHeader {
  font-size: 1.3rem;
  font-weight: 800;
  padding-bottom: 16px;
  color: #212636;
  text-align: center;
}

.authContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 18px;
  margin-top: 32px;
  margin-bottom: 16px;
}

.authContainer > p {
  font-size: 0.925rem;
  text-align: center;
}

.previewContainer {
  background: linear-gradient(to top, #830aaf, #4238d5);
  max-width: 100%;
  height: 100%;
  border-radius: 4px;
  padding: 12px;
}

/* Styles for views between 481px and 769px (Tablets) */
@media screen and (min-width: 740px) {
  .login {
    gap: 0;
  }

  .circle:first-child {
    width: 350px;
    height: 350px;
    top: -100px;
    right: -100px;
  }

  .circle:nth-child(2) {
    width: 350px;
    height: 350px;
    top: 75%;
    left: -100px;
  }

  .heroContainer {
    margin-bottom: 32px;
  }

  .logo {
    min-height: 230px;
    min-width: 230px;
  }

  .heroContainer > h1 {
    font-size: 3rem;
    font-weight: 500;
  }

  .loginContainer {
    margin: 0 120px;
  }

  .loginHeader {
    font-size: 2.3rem;
  }

  .authContainer > p,
  .signUpBtn {
    font-size: 1.1rem;
  }
}

/* Styles for views above 770px (Desktop) */
@media screen and (min-width: 890px) {
  .circle:first-child {
    width: 450px;
    height: 450px;
  }

  .circle:nth-child(2) {
    width: 450px;
    height: 450px;
  }

  .loginSubheading {
    font-size: 1.3rem;
  }
}
