.primary {
  background-color: #4238d5;
  color: #fff;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  width: 150px;
}

.primary:active {
  background-color: #fff;
  color: #4238d5;
}

.primary:hover {
  background-color: #170bc4;
}
