.radioGroupItem {
  background-color: white;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: 1px black solid;
}

.radioGroupItem:hover {
  background-color: lightgray;
}

.radioGroupItem:focus {
  box-shadow: 0 0 0 2px black;
}

.radioGroupIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.radioGroupIndicator::after {
  content: "";
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: blue;
}
