.container {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  gap: 10px;
}

.question {
  font-size: 18px;
  font-weight: 800;
  line-height: 28px;
}

.errorMessage {
  color: red;
  font-size: 14px;
  padding-bottom: 9px;
  font-weight: 400;
}

.required {
  color: red;
  font-size: 14px;
  font-weight: 400;
}

.questionContainer {
  display: flex;
  gap: 5px;
  flex-direction: row;
}

.choicesContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.choiceLabel > input[type="radio"],
.choiceLabel > input[type="checkbox"] {
  margin-right: 8px;
}

.choiceLabel {
  font-size: 18px;
}

@media (max-width: 600px) {
  .choiceLabel > input[type="checkbox"] {
    margin-right: 4px;
  }

  .choiceLabel {
    font-size: 16px;
  }

  .question {
    font-size: 16px;
    line-height: 24px;
  }

  .input {
    padding: 7px;
    font-size: 16px;
    line-height: 22px;
    border-radius: 10px;
  }

  .errorMessage {
    font-size: 12px;
    padding-bottom: 7px;
  }
}
