.stripeSubmitButton {
  margin: 0 auto;
  color: #ffffff;
  background: #170cb4;
  font-family: "DM Sans";
  width: 117px;
  height: 43px;
  font-size: 16px;
  line-height: 21px;
  border-radius: 21.5px;
  margin-top: 15px;
}

.stripeSubmitButton:hover,
.stripeSubmitButton:focus {
  outline: 1px solid blue;
  background-color: #2f26b7;
}

#paymentForm {
  border: #f6f9fc solid 1px;
  border-radius: var(--radius);
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 30px 50px -20px rgb(50 50 93 / 25%),
    0 30px 60px -30px rgb(0 0 0 / 30%);
}

@media (max-width: 600px) {
  .stripeSubmitButton {
    display: block;
    width: 100px;
    height: 38px;
    font-size: 14px;
    line-height: 18px;
    border-radius: 19px;
  }
}
