.options {
  border: 1px solid #c8cbd0;
  border-radius: 6px;
  background-color: #fff;
  color: #000;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 100px;
  text-align: center;
}

.menu {
  outline: none;
}

.options > div:focus {
  background-color: #f4f7fb;
  outline: none;
  border-radius: 5px;
}

.seperator {
  border-bottom: 1px solid #c8cbd0;
  margin-bottom: 3px;
  margin-top: 3px;
}
