.page {
  background-color: #fff;
  width: calc(100vw - 200px);
  border-radius: 6px;
  height: 100vh;
  padding: 30px;
  overflow: hidden;
  /* z-index: 1; */
}

.title {
  font-size: 2.25rem;
  font-weight: 800;
  position: relative;
  margin-bottom: 16px;
}
