.progressBarContainer {
  position: relative;
  overflow: hidden;
  background: #dde1e6;
  border-radius: 99999px;
  width: 100%;
  height: 11px;
  transform: translateZ(0); /* fixes overflow clipping in Safari */
}

.progressIndicator {
  background-color: #4238d5;
  width: 100%;
  height: 100%;
  transition: transform 660ms cubic-bezier(0.65, 0, 0.35, 1);
}
