.requiredText,
.textElementTypeText {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 12px;
}

.textElementTypeText {
  font-style: normal;
  line-height: 24px;
  color: #aaaaaa;
}

.question {
  margin-left: -5px;
  margin-right: -5px;
  padding-left: 5px;
  padding-right: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 8px;
}

.requiredSwitch {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 25px;
  padding: 10px;
  right: 0;
}

.requiredText {
  line-height: 2;
}
