.textElementTypeText {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #aaaaaa;
}

.question {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  width: 100%;
  margin-bottom: 8px;
}
