.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 5px;
  gap: 5px;
}

.buttonContainer {
  display: flex;
  border-radius: 10px;
  padding: 10px;
  color: white;
  align-items: center;
  height: 51px;
  width: 185px;
}

.standardButton {
  background-color: #1d74c5ff;
}

.paymentButton {
  background-color: #7560f9;
}

.baseStyle {
  background-color: #f4f7fb;
}

.penStyle {
  background-color: #2a852cff;
}

.sectionStyle {
  background-color: #b01254ff;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonText {
  flex: 1;
  text-align: center;
}

.buttonContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.plusIcon {
  cursor: pointer;
  width: 20px;
  height: 20px;
  color: #4171ed;
  display: flex;
  align-items: center;
  justify-content: center;
}
