/* Home.module.css */

/* Example styling for the headers */
.league-title {
  color: #170cb4; /* Set the text color */
  font-size: 24px; /* Set the font size */
  font-weight: bold; /* Set the font weight */
  margin-bottom: 8px; /* Add some bottom margin for separation */
}

.division-subtitle {
  color: #4a41c4; /* Set the text color */
  font-size: 16px; /* Set the font size */
  font-weight: normal; /* Set the font weight */
  margin-top: 4px; /* Add some top margin for separation */
  margin-bottom: 20px;
}

.title-container {
  margin-top: 10px;
  display: block;
  justify-content: center;
  text-align: center;
}
