.btn {
  border-radius: 21.5px;
  padding: 13px 45px;
  background-color: transparent;
  outline: 1px solid #170cb4;
  color: #170cb4;
}

.btn:hover,
.btn:focus {
  transition: ease-in 200ms;
  background-color: #170cb4;
  color: #ffffff;
}
