@keyframes fillProgressBar {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.progressBarContainer {
  position: relative;
  overflow: hidden;
  background: #dde1e6;
  border-radius: 99999px;
  width: 100%;
  height: 11px;
  transform: translateZ(0); /* fixes overflow clipping in Safari */
}

.progressIndicator {
  background-color: #4238d5;
  width: 100%;
  height: 100%;
  transition: transform 1s ease-out;
}
