.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 15px;
}

.inputContainer {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-items: baseline;
}

.inputShare {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  width: 100%; /* Optional: Adjust width as needed */
}

.copiedMessage {
  color: #aaaaaa;
  font-weight: 500;
}

.shareContainer {
  display: flex;
  justify-content: space-between;
  background-color: #f4f7fb;
  color: #aaaaaa;
  height: auto;
  margin-top: 10px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}

.boldLabel {
  font-size: 1.2rem;
  font-weight: 800;
  color: black;
}

.label {
  font-size: 1.1rem;
  color: black;
  margin-right: 16px;
  display: block;
}

.input {
  width: 100%;
  height: auto;
  flex: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 15px;
  line-height: 1;
  background-color: #f4f7fb;
  color: var(--violet-11);
  box-shadow: 0 0 0 1px var(--violet-7);
  height: 35px;
}

.input:focus {
  box-shadow: 0 0 0 2px lightblue;
}

.radioContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.radioInputContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.radioContainer > input {
  margin-bottom: 0;
}

.groupLabel {
  font-weight: 600;
  padding: 0 16px;
  font-size: 0.8rem;
  line-height: 25px;
  color: black;
}

.formBtnContainer {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 16px;
}

.btn {
  border-radius: 21.5px;
  padding: 13px 45px;
  outline: 1px solid #170cb4;
  background-color: #170cb4;
  color: #ffffff;
}

.btn:hover,
.btn:focus {
  transition: ease-in 200ms;
  background-color: transparent;
  color: #170cb4;
}

.cancelBtn {
  padding: 8px 32px;
  outline: 1px solid black;
  background-color: transparent;
  color: black;
}
.cancelBtn:hover,
.cancelBtn:focus {
  outline: 1px solid blue;
  color: black;
}

.copyBtn {
  width: 100px;
  height: 27px;
  color: #170cb4;
  background-color: white;
  padding: 0%;
  outline: 0px solid transparent;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.copyBtn:hover,
.copyBtn:focus {
  color: #170cb4;
  background-color: white;
  outline: 0px solid transparent;
}

.sendBtn {
  width: 100px;
  height: 27px;
  color: white;
  background-color: #170cb4;
  padding: 0%;
  outline: 0px solid transparent;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.sendBtn:hover,
.sendBtn:focus {
  color: white;
  background-color: #170cb4;
  outline: 0px solid transparent;
}

.submitBtn {
  padding: 8px 32px;
}
