.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 15px;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.label {
  font-size: 1.1rem;
  color: black;
  margin-right: 16px;
  display: block;
}

.input {
  width: 100%;
  height: auto;
  flex: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 15px;
  line-height: 1;
  background-color: #f4f7fb;
  color: var(--violet-11);
  box-shadow: 0 0 0 1px var(--violet-7);
  height: 35px;
}

.input:focus {
  box-shadow: 0 0 0 2px lightblue;
}

.radioContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.radioInputContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.radioContainer > input {
  margin-bottom: 0;
}

.groupLabel {
  font-weight: 600;
  padding: 0 16px;
  font-size: 0.8rem;
  line-height: 25px;
  color: black;
}

.formBtnContainer {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 16px;
}

.btn {
  border-radius: 21.5px;
  padding: 13px 45px;
  background-color: transparent;
  outline: 1px solid #170cb4;
  color: #170cb4;
}

.btn:hover,
.btn:focus {
  transition: ease-in 200ms;
  background-color: #170cb4;
  color: #ffffff;
}

.cancelBtn {
  padding: 8px 32px;
  outline: 1px solid black;
  color: black;
}

.cancelBtn:hover,
.cancelBtn:focus {
  outline: 1px solid blue;
  background-color: transparent;
  color: black;
}

.submitBtn {
  padding: 8px 32px;
}
