.content {
  display: flex;
  align-items: center; /* Center items vertically */
}

.li {
  margin-bottom: 16px;
}

.icon {
  margin-right: 8px; /* Adjust margin between icon and button */
}

.icon-selected {
  margin-right: 8px; /* Adjust margin between icon and button */
  color: #8308ae;
}

.label {
  margin-left: 12px; /* Adjust margin between icon and label */
}

.label-selected {
  margin-left: 12px; /* Adjust margin between icon and button */
  color: #8308ae;
}

.button-selected {
  display: flex;
  align-items: center;
  padding: 8px 16px; /* Adjust padding as needed */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  width: 190px; /* Set a fixed width for the buttons */
  background-color: #f4f7fb;
}

.button {
  display: flex;
  align-items: center;
  padding: 8px 16px; /* Adjust padding as needed */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  width: 190px; /* Set a fixed width for the buttons */
}

/* Hover effect for the buttons */
.button:hover {
  background-color: #f4f7fb; /* You can change the hover button background color */
}
