.li {
  margin-bottom: 16px;
  padding-left: 24px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  height: 40px;
}

.icon-selected {
  color: #8308ae;
}

.label {
  padding-left: 24px;
}

.label-selected {
  color: #8308ae;
  padding-left: 24px;
}

.li:hover {
  background-color: #f4f7fb;
  cursor: pointer;
}
